.contentWrapper{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20%;
  color: #292F3F;
  background: white;

  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  a{
    color: #292F3F;
  }

  img{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }

  .chats{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }

  .messageList{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
    width: 100%;
    margin: 10px 10px 0 10px;
    
    .messageLeft{
      display: flex;
      justify-content: flex-start;
    }

    .messageRight{
      display: flex;
      justify-content: flex-end;
    }

    .messageBoxLeft{
      background: #AC8FFF;
      border-radius: 30px;
      color: white;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }

    .messageBoxRight{
      background: #eb586f;
      border-radius: 30px;
      color: white;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }

    .messageContent{
      font-size: 1.875rem;
    }
  }

  .keyboard{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;

    .keyboardContent{
      width: 100%;
      background: #292F3F;
      border-radius: 20px;
      border: none;
      color: white;
      font-size: 20px;
    }

    input::-webkit-input-placeholder {
      font-size: 20px;
      line-height: 3;
      color: white;
    }

    .keyboardMenu{
      display: flex;
      height: 40px;
      width: 100%;
      background: #292F3F;
      border-radius: 10px;
      border: none;
      padding: 0 10px;
    }

    .galery{
      border-radius: 10px;
      background: #74FFFF;
      height: 40px;
      width: 50px;
      margin-left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      
    }
  }

}

@media (max-width: 425px) {
  
  .contentWrapper{
    padding: 0 10px 0 10px;
    font-size: 1.5rem;

    svg {
      font-size: 2.39rem;
    }
    .messageList {
      gap: 10px;

      .messageContent{
        font-size: 1rem;
      }
    }
  }
}